@use 'variables.scss';
@use 'mixins.scss';

body {
    font-family: 'Kumbh Sans', sans-serif !important;
    font-size: 16px;

}

main {
    @media (min-width: 1000px){
        width: 100%;
        height: 80vh;
        display: grid;
        place-content: center;
    }
}

.header {
    height: 60px;
    

    .header-content {
        margin: auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        @media (min-width: 1000px){
            padding: 0 !important;
        }
    }
    .left {
        display: flex;
        align-items: center;
        .burgermenu{
            width: 15px;
            height: 15px;
            cursor: pointer;
            @media (min-width: 1000px){
                display: none;
            }
        }

        .logo {
            width: 110px;
            margin-left: 15px;
            @media (min-width: 1000px){
                width: 150px;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        .iconcart {
            width: 17px;
            height: 17px;
            margin-right: 20px;
        }
        .photo-profile {
            width: 20px;
            @media (min-width: 1000px){
                width: 50px;
            }
        }
    }

    nav {
        @media (max-width: 1000px){
            width: 200px;
            position: fixed;
            top: 0;
            left: -200px;
            height: 100vh;
            background-color: hsl(0, 0%, 100%);
            z-index: 2;
            transition: all 400ms linear;
        }
        @media(min-width: 1000px){
            display: block;
        }
    }
    .list-nav {
        
        @media (max-width: 1000px){
            padding-top: 20px;
            display: flex;
            flex-direction: column;
        }
        @media (min-width: 1000px){
            padding: 0 0 0 50px;
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
        list-style: none;

        .iconClose {
            width: 15px;
            padding-bottom: 50px;
            @media (min-width: 1000px){
                display: none;
            }
        }
        a{
            color: black;
            text-decoration: none;

            li {
                font-weight: 700;
                padding-bottom: 15px;
                color: variables.$darkblue;
                @media(min-width: 1000px){
                    font-weight: 400;
                    padding-bottom: 0;
                }
            }
        }
        @media(min-width: 1000px){
            flex-direction: row;
        }

    }

    .blurbackground {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;

        @media (min-width: 1000px){
            display: none;
        }
    }
}

.product {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: calc(100% - 86px );
    @media (min-width: 1000px){
        flex-direction: row;
        max-width: 1200px;
        gap: 10%;
        
    }

    .images-product-preview {
        display: none;
        justify-content: space-between;
        img {
            border-radius: 7px;
            width: 70px;
        }
        @media (min-width: 1000px){
           display: flex;
        }
    }

    .product-details {
        @media (min-width: 1000px){
            height: 100%;
            display: grid;
            place-content: center;
            
        }
        .subtitle {
            font-weight: 700;
            color: variables.$orange;
            font-size: 0.7em;
            letter-spacing: 2px;
        }
    }

    .title-product {
        font-weight: 700;
        font-size: 1.5em;
        color: variables.$darkblue;
    }

    .descripcion-product {
        font-weight: 400;
        color: variables.$darkgrayishblue;
        font-size: 0.9em;
    }

    .price-container {
        display: flex;
        justify-content: space-between;
        .price-main{
            display: flex;
            padding: 0;
            .price-number {
                font-weight: 700;
                color: variables.$darkblue;
                margin-right: 20px;
            }

            .descuento-price {
                background-color: variables.$paleorange;
                padding: 5px;
                color: variables.$orange;
                font-weight: 700;
                font-size: 0.9em;
            }

        }
        
        .price-original {
            color: variables.$grayishblue;
            text-decoration: line-through;
            font-weight: 400;
            font-size: 0.9em;
        }
    }

    .button-add {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 500px){
            width: 30%;
        }
        button {
            border: none;
            background-color: variables.$lightgrayishblue;
        }

        span {
            font-weight: 700;
            font-size: 0.9em;
        }
    }

    .button-addcart {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: variables.$orange;
        color: variables.$lightgrayishblue;
        border-radius: 8px;
        height: 40px;
        margin-top: 20px;
        @media (min-width: 500px){
            width: 70%;
            margin-top: 0;
        }
        .cart-button {
            color: white;
        }

        p {
            font-size: 0.8em;
            font-weight: 700;
            color: variables.$lightgrayishblue;
            margin: 0 !important;
        }

    }



}

.addtocart {
    @media (min-width: 500px){
        display: flex;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
}

