body {
  font-family: "Kumbh Sans", sans-serif !important;
  font-size: 16px;
}

@media (min-width: 1000px) {
  main {
    width: 100%;
    height: 80vh;
    display: grid;
    place-content: center;
  }
}

.header {
  height: 60px;
}
.header .header-content {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
@media (min-width: 1000px) {
  .header .header-content {
    padding: 0 !important;
  }
}
.header .left {
  display: flex;
  align-items: center;
}
.header .left .burgermenu {
  width: 15px;
  height: 15px;
}
.header .left .logo {
  width: 110px;
  margin-left: 15px;
}
.header .right {
  display: flex;
  align-items: center;
}
.header .right .iconcart {
  width: 17px;
  height: 17px;
  margin-right: 20px;
}
.header .right .photo-profile {
  width: 20px;
}
.header nav {
  display: none;
}
@media (min-width: 1000px) {
  .header nav {
    display: block;
  }
}
.header .list-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.header .list-nav a {
  color: black;
  text-decoration: none;
}
@media (min-width: 1000px) {
  .header .list-nav {
    flex-direction: row;
  }
}

.product {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: calc(100% - 86px);
}
@media (min-width: 1000px) {
  .product {
    flex-direction: row;
    max-width: 1200px;
    gap: 10%;
  }
}
.product .images-product-preview {
  display: none;
  justify-content: space-between;
}
.product .images-product-preview img {
  border-radius: 7px;
  width: 70px;
}
@media (min-width: 1000px) {
  .product .images-product-preview {
    display: flex;
  }
}
@media (min-width: 1000px) {
  .product .product-details {
    height: 100%;
    display: grid;
    place-content: center;
  }
}
.product .product-details .subtitle {
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  font-size: 0.7em;
  letter-spacing: 2px;
}
.product .title-product {
  font-weight: 700;
  font-size: 1.5em;
  color: hsl(220, 13%, 13%);
}
.product .descripcion-product {
  font-weight: 400;
  color: hsl(219, 9%, 45%);
  font-size: 0.9em;
}
.product .price-container {
  display: flex;
  justify-content: space-between;
}
.product .price-container .price-main {
  display: flex;
  padding: 0;
}
.product .price-container .price-main .price-number {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-right: 20px;
}
.product .price-container .price-main .descuento-price {
  background-color: hsl(25, 100%, 94%);
  padding: 5px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 0.9em;
}
.product .price-container .price-original {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  font-weight: 400;
  font-size: 0.9em;
}
.product .button-add {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .product .button-add {
    width: 30%;
  }
}
.product .button-add button {
  border: none;
  background-color: hsl(223, 64%, 98%);
}
.product .button-add span {
  font-weight: 700;
  font-size: 0.9em;
}
.product .button-addcart {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(26, 100%, 55%);
  color: hsl(223, 64%, 98%);
  border-radius: 8px;
  height: 40px;
  margin-top: 20px;
}
@media (min-width: 500px) {
  .product .button-addcart {
    width: 70%;
    margin-top: 0;
  }
}
.product .button-addcart .cart-button {
  color: white;
}
.product .button-addcart p {
  font-size: 0.8em;
  font-weight: 700;
  color: hsl(223, 64%, 98%);
  margin: 0 !important;
}

@media (min-width: 500px) {
  .addtocart {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
